*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

/*==========
HEADER COMPONENT
============*/

.header {
  padding: 2em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #050505;
  margin: 0;
}

.header-nav {
  display: flex;
  gap: 1.25em;
}

.header-nav-item {
  font-weight: bold;
  text-decoration: none;
  color: #383838;
  margin: 0;
}

.header-logo:hover,
.header-nav-item:hover {
  text-decoration: underline;
}

/*==============
FOOTER COMPONENT
===============*/
footer {
  background-color: #161616;
  color: #787878;
  padding: 1.5em;
  text-align: center;
  margin-top: auto;
}

/*===========
HOME PAGE
=============*/

.home-container {
  background: no-repeat center center fixed;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),url("./assets/images/home-hero.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  gap: 1em;
}

.home-title {
  color: white;
}

.home-description {
  color: white;
  line-height: 1.5;
}

.new-line {
  display: block;
}

.home-container-btn {
  background-color: #ff8c38;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  margin-top: 1.5em;
}

/*============
ABOUT PAGE
=============*/
.about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-img {
  max-width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.about-inner-container {
  padding: 1.5em;
}

.about-description {
  line-height: 1.5;
}

.about-bottom-container {
  margin: 3em 0;
  padding: 1em;
  background-color: #ffcc8d;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
}

.about-bottom-title {
  line-height: 1.5;
}

.about-bottom-btn {
  margin: 1em 0 .5em;
  padding: 1em 1.5em;
  background-color: #050505;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  align-self: start;
  font-weight: bold;
}

.about-bottom-btn:active {
  transform: scale(0.95);
}


/*=========
HOUSES PAGES
==========*/
.houses-wrapper,
.house-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 3em;
  gap: .5em;
}

.houses-explore-title {
  margin: 0;
  padding: 1em 0 .75em;
}

.houses-list-filter-buttons {
  display: flex;
  gap: .5em;
  padding: 0 0 2em;
}

.houses-filter-btn {
  padding: .5em 2em;
  margin-right: .75em;
  border: none;
  border-radius: 5px;
  color: #383838;
  background-color: #ffe7c9;
  font-size: 1rem;
  cursor: pointer;
}

.houses-filter-btn-clear {
  cursor: pointer;
  border: none;
  background-color: #FFF7ED;
  text-decoration: underline;
  white-space: nowrap;
  color: #4D4D4D;
  font-size: .9rem;
  font-weight: 550;
}

.simple-selected {
  background-color: #CC8500;
  color: white;
}

.rugged-selected {
  background-color: #007A00;
  color: white;
}

.luxury-selected {
  background-color: #0A0A0A;
  color: white;
}

.simple-hover:hover {
  background-color: #CC8500;
  color: white;
}

.rugged-hover:hover {
  background-color: #007A00;
  color: white;
}

.luxury-hover:hover {
  background-color: #0A0A0A;
  color: white;
}

.houses-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.house-link-detail {
  text-decoration: none;
  color: #161616;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.house-back {
  padding: 0 0 1.25em;
}

.house-img {
  width: 100%;
  border-radius: 8px;
}

.house-container-inner {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.house-title {
  font-size: 1.75rem;
}

.light {
  font-weight: normal;
  font-size: 1.25rem;
}

.house-price {
  font-size: 1.35rem;
}

.house-type {
  font-style: normal;
  background-color: gray;
  padding: .5em 1.5em;
  border-radius: 10px;
  color: white;
  align-self: flex-start;
}

.house-btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: .75em 1em;
  font-size: 1.15rem;
  font-weight: bold;
  background-color: #ff8c38;
}

.simple {
  background-color: #CC8500;
}

.rugged {
  background-color: #007A00;
}

.luxury {
  background-color: #0A0A0A;
}

/*======
HOST PAGES
========*/
.host-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1em;
}

.host-nav {
  width: 80%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding-left: 2em;
  padding-bottom: 2em;
}

.host-nav-item {
  color: black;
  text-decoration: none;
}

.host-houses-title {
  padding: 0 0 1.25em 1.25em;
  font-size: 1.75rem;
}

.host-houses-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1.5em;
  width: 100%;
}

.host-houses-single {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 1.5em;
  background-color: white;
  border-radius: 3px;
  width: 100%;
}

.host-house-single-link {
  text-decoration: none;
  color: #050505;
}

.host-houses-single-img {
  width: 20%;
  border-radius: 5px;
}

.host-houses-single-inner {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .75em;
}

.host-houses-single-inner-title {
  font-size: 1.25rem;
}

.host-houses-single-inner-price {
  font-size: 1rem;
  font-weight: 450;
}

.host-house-detail-wrapper {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.host-house-detail-house-container {
  background-color: white;
  padding: 1.5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.host-house-detail-house-container-above-nav {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  width: 100%;
}

.host-house-detail-house-img {
  width: 40%;
  border-radius: 5px;
}

.host-house-detail-inner {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em 0;
}

.host-house-detail-type {
  margin: 0;
  background-color: #E17654;
  color: #FFEAD0;
  border-radius: 5px;
  padding: .4em .8em;
  text-align: center;
  align-self: self-start;
  font-style: normal;
}

.host-house-detail-name {
  margin: 0;
  font-size: 1.65rem;
}

.host-house-detail-price {
  margin: 0;
  font-weight: 600;
  font-size: 1.1em;
}

.host-house-detail-back-button {
  color: #201F1D;
  text-decoration: none;
}

.back-button-hover:hover {
  text-decoration: underline;
  font-weight: 650;
}

.host-house-detail-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1.75em 0;
  justify-content: space-between;
  width: 50%;
}

.host-house-nav-item {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
}

.host-house-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.host-house-info-item {
  margin: 0 0 .35em;
  font-weight: normal;
}












/*===========
UTILITY CLASSES
============*/

.bold {
  font-weight: bold;
}

.bold-bigger {
  font-weight: 800;
  font-size: 1.3em;
}





main {
  display: flex;
  flex-grow: 1;
}

h1, h2 {
  margin: 0;
}