*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

/*==========
HEADER COMPONENT
============*/

.header {
  padding: 2em;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-weight: bold;
  font-size: 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #050505;
  margin: 0;
}

.header-nav {
  display: flex;
  gap: 1.25em;
}

.header-nav-item {
  font-weight: bold;
  text-decoration: none;
  color: #383838;
  margin: 0;
}

.header-logo:hover,
.header-nav-item:hover {
  text-decoration: underline;
}

/*==============
FOOTER COMPONENT
===============*/
footer {
  background-color: #161616;
  color: #787878;
  padding: 1.5em;
  text-align: center;
  margin-top: auto;
}

/*===========
HOME PAGE
=============*/

.home-container {
  background: no-repeat center center fixed;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),url("./assets/images/home-hero.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  gap: 1em;
}

.home-title {
  color: white;
}

.home-description {
  color: white;
  line-height: 1.5;
}

.new-line {
  display: block;
}

.home-container-btn {
  background-color: #ff8c38;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 1em;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  margin-top: 1.5em;
}

/*============
ABOUT PAGE
=============*/
.about-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-img {
  max-width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.about-inner-container {
  padding: 1.5em;
}

.about-description {
  line-height: 1.5;
}

.about-bottom-container {
  margin: 3em 0;
  padding: 1em;
  background-color: #ffcc8d;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
}

.about-bottom-title {
  line-height: 1.5;
}

.about-bottom-btn {
  margin: 1em 0 .5em;
  padding: 1em 1.5em;
  background-color: #050505;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  align-self: start;
  font-weight: bold;
}

.about-bottom-btn:active {
  transform: scale(0.95);
}


/*=========
HOUSES PAGES
==========*/
.houses-wrapper,
.house-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 3em;
  gap: .5em;
  width: 100%;
}
.house-wrapper {
  gap: 1em;
}

.houses-explore-title {
  margin: 0;
  padding: 1em 0 .75em;
}

.houses-list-filter-buttons {
  display: flex;
  gap: .5em;
  padding: 0 0 2em;
}

.houses-filter-btn {
  padding: .5em 2em;
  margin-right: .75em;
  border: none;
  border-radius: 5px;
  color: #383838;
  background-color: #ffe7c9;
  font-size: 1rem;
  cursor: pointer;
}

.houses-filter-btn-clear {
  cursor: pointer;
  border: none;
  background-color: #FFF7ED;
  text-decoration: underline;
  white-space: nowrap;
  color: #4D4D4D;
  font-size: .9rem;
  font-weight: 550;
}

.simple-selected {
  background-color: #CC8500;
  color: white;
}

.rugged-selected {
  background-color: #007A00;
  color: white;
}

.luxury-selected {
  background-color: #0A0A0A;
  color: white;
}

.simple-hover:hover {
  background-color: #CC8500;
  color: white;
}

.rugged-hover:hover {
  background-color: #007A00;
  color: white;
}

.luxury-hover:hover {
  background-color: #0A0A0A;
  color: white;
}

.houses-container {
  margin-top: .5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.house-link-detail {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: .5em;
  color: #161616;
  height: 100%;
  width: 100%;
}

.house-img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.house-container-inner {
  padding-top: .5em;
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-between;
}


.house-container-inner-container {
  display: flex;
  flex-direction: column;
  gap: .7rem;
}

.house-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 650;
  white-space: nowrap;
}
.house-price {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 650;
}
.per-day {
  font-size: 1rem;
  text-align: end;
  font-weight: 500;
}
.house-type {
  font-style: normal;
  background-color: gray;
  padding: .6em 1.2em;
  border-radius: 8px;
  color: white;
  align-self: flex-start;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 1.1rem;
}

.house-btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: .75em 1em;
  font-size: 1.15rem;
  font-weight: bold;
  background-color: #ff8c38;
}



.house-detail-container-inner {
  padding-top: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.house-detail-type {
  font-style: normal;
  background-color: gray;
  padding: .6em 1.2em;
  border-radius: 8px;
  color: white;
  align-self: flex-start;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: .5px;
  font-size: 1.1rem;
}
.house-detail-title {
  font-size: 2.25rem;
  margin: 0;
  font-weight: 650;
  white-space: nowrap;
}
.house-detail-price {
  font-size: 1.75rem;
  margin: 0;
  font-weight: 750;
}
.house-detail-per-day {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}
.house-detail-description {
  line-height: 1.5;
  margin: 0;
  font-weight: 475;
  font-size: 1.1rem;
}
.house-detail-btn {
  margin-top: .25em;
  color: white;
  border: none;
  border-radius: 5px;
  padding: .75em 1em;
  font-size: 1.15rem;
  font-weight: bold;
  background-color: #ff8c38;
}

.simple {
  background-color: #CC8500;
}

.rugged {
  background-color: #007A00;
}

.luxury {
  background-color: #0A0A0A;
}

/*======
HOST PAGES
========*/
.host-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em; 
  padding-bottom: 3em; 
}

.host-nav {
  width: 80%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding-bottom: 3em;
}

.host-nav-item {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 450;
}

.host-houses-title {
  padding-bottom: 1.25em;
  font-size: 2.1rem;
  font-weight: 750;
}

.host-houses-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.host-houses-single {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
  padding: 1.35em;
  background-color: white;
  border-radius: 6px;
  width: 100%;
}

.host-house-single-link {
  text-decoration: none;
  color: #050505;
}

.host-houses-single-img {
  width: 15%;
  border-radius: 5px;
}

.host-houses-single-inner {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .65em;
}

.host-houses-single-inner-title {
  font-size: 1.4rem;
}

.host-houses-single-inner-price {
  font-size: 1.1rem;
  font-weight: 450;
}

.host-house-detail-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.host-house-detail-house-container {
  background-color: white;
  padding: 1.5em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.host-house-detail-house-container-above-nav {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  width: 100%;
}

.host-house-detail-house-img {
  width: 40%;
  border-radius: 5px;
}

.host-house-detail-inner {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding: 1em 0;
}

.host-house-detail-type {
  margin: 0;
  background-color: #E17654;
  color: #FFEAD0;
  border-radius: 5px;
  padding: .4em .8em;
  text-align: center;
  align-self: self-start;
  font-style: normal;
  text-transform: capitalize;
}

.host-house-detail-name {
  margin: 0;
  font-size: 1.65rem;
}

.host-house-detail-price {
  margin: 0;
  font-weight: 600;
  font-size: 1.1em;
}

.host-house-detail-back-button,
.house-detail-back-button {
  color: #201F1D;
  text-decoration: none;
  margin-bottom: 1.25em;
}

.back-button-hover:hover {
  text-decoration: underline;
  font-weight: 650;
}

.host-house-detail-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1.75em 0;
  justify-content: space-between;
  width: 50%;
}

.host-house-nav-item {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
}

.host-house-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.host-house-info-item,
.host-house-info-item-description {
  margin: 0 0 .35em;
  font-weight: normal;
}

/*==========
NOT FOUND
==========*/
.not-found-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.not-found-title {
  font-size: 2.5rem;
}

.not-found-btn {
  margin-top: 2em;
  width: 100%;
  background-color: #161616;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}


/*========
MEDIA QUERY
=========*/
@media (min-width:768px) {
  .site-wrapper{
    background-color: red;
  }

  .header-logo {
    font-size: 1.9rem;
  }
  .header-nav-item  {
    font-size: 1.15rem;
  }
  footer {
    font-size: 1.15rem;
  }
  .home-title, 
  .about-title,
  .houses-explore-title{
    font-size: 2.15rem;
  }
  .home-description, 
  .about-description {
    font-size: 1.15rem;
  }
  .home-container-btn,
  .about-bottom-btn {
    font-size: 1.1rem;
  }
  .about-inner-container {
    padding: 2em;
  }
  .about-bottom-title {
    font-size: 1.75rem;
  }
  .houses-list-filter-buttons{
    gap: 1.5em;
  }
  .houses-filter-btn {
    font-size: 1.1rem;
  }
  .houses-filter-btn-clear {
    font-size: 1rem;
  }
  .houses-container {
    gap: 2.7em;
  }
  .house-title,
  .house-price {
    font-size: 1.75rem;
  }
  .house-type,
  .house-detail-type {
    font-size: 1.17rem;
  }
  .per-day {
    font-size: 1.1rem;
  }
  .header,
  .home-container,
  .houses-wrapper,
  .not-found-container,
  .host-wrapper {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .house-wrapper {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
  .house-detail-back-button,
  .host-house-detail-back-button {
    font-size: 1.1rem;
  }  
  .house-img {
    max-width: 550px;
  }
  .house-detail-title {
    font-size: 2.5rem;
  }
  .house-detail-price {
    font-size: 2rem;
  }
  .house-detail-per-day {
    font-size: 1.45rem;
  }
  .house-detail-description,
  .host-nav-item {
    font-size: 1.25rem;
  }
  .house-detail-btn {
    font-size: 1.25rem;
  }
  .not-found-title {
    font-size: 2.75rem;
  }
  .not-found-btn {
    font-size: 1.75rem;
  }
  .host-houses-title {
    font-size: 2.25rem;
  }
  .host-houses-container {
    gap: 1.25em;
  }
  .host-houses-single {
    gap: 1.5em;
  }
  .host-houses-single-inner {
    gap: .75em;
  }
  .host-houses-single-inner-title {
    font-size: 1.6rem;
  }
  .host-houses-single-inner-price {
    font-size: 1.25rem;
  }
  .host-wrapper {
    padding-bottom: 4em;
  }
  .host-house-detail-wrapper {
    margin-top: 1em;
  }
  .host-house-detail-house-container {
    padding: 2em;
  }
  .host-house-detail-house-container-above-nav {
    gap: 1.75em;
  }
  .host-house-detail-inner {
    gap: 1.25em;
  }
  .host-house-detail-type {
    font-size: 1.15rem;
    padding: .5em 1em;
  }
  .host-house-detail-name {
    font-size: 1.9rem;
  }
  .host-house-detail-price {
    font-size: 1.25rem
  }
  .host-house-detail-nav {
    padding: 2em 0 2.5em;
  }
  .host-house-nav-item {
    font-size: 1.125rem;
  }
  .host-house-info-container {
    gap: 1.25em;
  }
  .host-house-info-item,
  .host-house-info-item-description {
    font-size: 1.125rem;
  }
  .host-house-info-item-description {
    line-height: 1.5;
  }











}




















/*===========
UTILITY CLASSES
============*/

.bold {
  font-weight: bold;
}

.bold-bigger {
  font-weight: 800;
  font-size: 1.3em;
}

.next-line {
  display: block;
}





main {
  display: flex;
  flex-grow: 1;
}

h1, h2 {
  margin: 0;
}